# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
**/.env

# Build outputs
dist/
build/
**/dist/
**/build/

# Logs
*.log
**/npm-debug.log*

# Infrastructure
terraform.tfstate*
.terraform/

# OS files
.DS_Store

# DevOps Tools
*.exe
*.zip
