# Dependencies
node_modules/
**/node_modules/

# Environment Variables
.env
**/.env

# Build outputs
dist/
build/
**/dist/
**/build/

# Logs
*.log
**/npm-debug.log*

# Infrastructure
terraform.tfstate*
.terraform/
.terraform.lock.hcl
*.out
*.json
!aiops-ui/package.json
!charts/**

# Python
__pycache__/
*.pyc
aiops-ui/test_bedrock.py
aiops-ui/eks-policy.json
output.json

# OS files
.DS_Store

# DevOps Tools
*.exe
*.zip
